beautifulsoup4==4.9.3
bibtexparser==1.2.0
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
coloredlogs==15.0
future==0.18.2
humanfriendly==9.1
idna==2.10
pyparsing==2.4.7
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
urllib3==1.26.4
